* {
 margin: 0;
 padding: 0;
 font-family: "Open Sans", sans-serif;
}

body {
 background: #191919;
 display: flex;
 justify-content: center;
 align-items: center;
 transition: all 0.3s linear;
}

input, 
textarea, 
select,
option {
 outline:none;
}

option:selected {
 background: #191919;
}


.container {
 background: rgba(0,0,0,0.5);
 max-width: 800px;
 width: 100%;
 min-height: 600px;
 padding: 60px;
 display: flex;
 flex-direction: column;
 text-align: center;
 box-shadow: 0 0 20px #00000060;
}

h1 {
 text-transform: uppercase;
 color: #fff;
 font-size: 36px;
 line-height: 36px;
 text-shadow: #8B0000 -2px -2px 0, 
              #8B0000 2px 2px 0;
}

.form {
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 position: relative;
}

.form input {
 width: 180px;
 box-sizing: border-box;
 border: 2px solid #FFFAFA;
 border-radius: 12px;
 padding: 5px 20px;
 background: transparent;
 color: #fff;
 font-size: 14px;
 text-transform: uppercase;
 text-align: center;
 margin-top: 15px;
 opacity: 0.7;
 cursor: pointer;
 transition: all 0.4s linear;
}

.input-file input[type="file"] {
 display: none;
}

.input-file {
 position: relative;
 overflow: hidden;
 width: 180px;
 height: 26px;
 border: 2px solid #FFFAFA;
 border-radius: 12px;
 color: #fff;
 font-weight: 700;
 font-size: 14px;
 line-height: 26px;
 margin-top: 15px;
 opacity: 0.7;
 transition: all 0.4s linear;
}

.input-file:hover, 
.form input:hover {
 opacity: 1;
 background: rgba(0, 0, 0);
 border: 2px solid #8B0000;
  text-shadow: #8B0000 2px 0 0, 
               #8B0000 2px 1px 0;
}


.input-file label {
 display: block;
 position: absolute;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
 cursor: pointer;
}

.form span {
 text-transform: uppercase;
 color: #fff;
 border: 0;
}

.submit {
 display: flex;
 justify-content: space-around;
 width: 70%;
}

.app {
 margin-top: 20px;
 padding: 20px;
 color: #fff;
 text-transform: uppercase;
 font-size: 12px;
 height: auto;
 display: flex;
 flex-direction: column;
 align-items: center;
}

.app input,
.app button,
.app textarea,
option, 
select {
 width: 100%;
 display: flex;
 justify-content: center;
 border: 2px solid #FFFAFA;
 border-radius: 12px;
 padding: 5px 20px;
 margin-bottom: 10px;
 margin-top: 10px;
 background: transparent;
 color: #fff;
 font-size: 13px;
 text-transform: uppercase;
 text-align: center;
 opacity: 0.7;
 cursor: pointer;
 transition: all 0.4s linear;
}

::-webkit-calendar-picker-indicator {
    filter: invert(1);
}

.app input {
 flex-direction: column;
}

.app input:focus {
 border: none;
}

.app input:hover,
.app button:hover,
.app textarea:hover,
select:hover {
 opacity: 1;
 background: rgba(0, 0, 0);
 border: 2px solid #8B0000;
  text-shadow: #8B0000 2px 0 0, 
               #8B0000 2px 1px 0;
}

.app label {
 margin-top: 10px;
 margin-bottom: 10px;
 position: relative;
}

h2 {
 text-transform: uppercase;
 font-size: 16px;
}

.app input[type="date"] {
 flex-direction: row;
}

.formTech {
 display: flex;
 justify-content: center;
 align-items: center;
 flex-wrap: wrap;
 width: 80%;

}

.technology {
 display: flex;
 flex-wrap: wrap;
 flex-direction: column;
 width: 25%;
}

.technology input {
width: 5%;
}

.technology input[type="checkbox"]:checked, 
.technology input[type="checkbox"]:not(:checked) {
position: absolute;
left: -9999px;
}

.technology input[type="checkbox"]:checked + label, 
.technology input[type="checkbox"]:not(:checked) + label {
display: inline-block;
position: relative;
padding-left: 28px;
line-height: 20px;
cursor: pointer;
}

.technology input[type="checkbox"]:checked + label:before, 
.technology input[type="checkbox"]:not(:checked) + label:before {
content: "";
position: absolute;
left: 0px;
top: 0px;
width: 20px;
height: 20px;
border: 1px solid #FFFAFA; 
border-radius: 4px;
opacity: 0.7;
}

.technology input[type="checkbox"]:checked + label:after, 
.technology input[type="checkbox"]:not(:checked) + label:after {
content: "";
position: absolute;
transition: all 0.2s ease;
left: 5px;
top: 5px;
width: 8px;
height: 6px;
border-radius: 1px;
border-left: 3px solid #8B0000;
border-bottom: 3px solid #8B0000;
transform: rotate(-45deg);
}


.technology input[type="checkbox"]:not(:checked) + label:after {
opacity: 0;
}

.technology input[type="checkbox"]:checked + label:after {
 opacity: 1;
}

.technology label {
 margin-right: 10px;
}

.technology label:hover {
  text-shadow: #8B0000 2px 0 0, 
               #8B0000 2px 1px 0;

}

.technology input[type="checkbox"]:checked + label:hover::before, 
.technology input[type="checkbox"]:not(:checked) + label:hover::before {
 border: 1px solid #8B0000;
}


.technology input[type="checkbox"]:hover::before {
  opacity: 1;
  border: 2px solid #8B0000;

}

.app textarea {
 height: 200px;
}

option,
select {
 width: 100%;
 background: transparent;
 color: #fff;
 text-align: center;
}

input[type="checkbox"] {
 margin-top: 10px;
}

.app a {
 text-decoration: none;
 color: #8B0000;
}

@media screen and (max-width: 665px) {
.submit {
 flex-direction: column;
 justify-content: center;
 align-items: center;
 width: none;
}

.formTech {
 flex-direction: column;
}

.technology {
 flex-direction: row;
}

@media screen and (max-width: 425px) {

.container {
 max-width: 400px;
 width: 100%;
 padding: 10px;
}

h1 {
 margin-top: 10px;
 font-size: 20px;
 line-height: 20px;
}

.form input {
 width: none;
 box-sizing: content-box;
 padding: 5px 10px;
 margin-top: 15px;
 font-size: 12px;
}

.input-file {
 width: none;
 font-size: 12px;
}

.app {
 margin-top: 10px;
}

}